$color: #333;
$size: 100px;
$border: $size / 25;

.sound {
  width: $size;
  height: $size;
  position: relative;
  cursor: pointer;
  display: inline-block;
  
  &--icon {
    color: $color;
    width: 75%;
    height: 100%;
    line-height: 100%;
    font-size: $size;
    display: block;
    margin: auto;
  }
  
  &--wave {
    position: absolute;
    border: $border solid transparent;
    border-right: $border solid $color;
    border-radius: 50%;
    transition: all 200ms;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    &_one {
      width: 50%;
      height: 50%;
    }

    &_two {
      width: 75%;
      height: 75%;
    }
  }
  
  &-mute .sound--wave {
    border-radius: 0;
    width: 50%;
    height: 50%;
    border-width: 0 $border 0 0;
    
    &_one {
      transform:
        rotate(45deg) 
        translate3d(0, -50%, 0);
    }
    
    &_two {
      transform: 
        rotate(-45deg)
        translate3d(0, 50%, 0);
    }
  }
}